absl-py==0.12.0
astor==0.8.1
certifi==2020.12.5
Django==1.10
gast==0.4.0
grpcio==1.37.0
h5py==2.10.0
image==1.5.33
importlib-metadata==4.0.1
joblib==1.0.1
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
mock==4.0.3
numpy==1.18.5
Pillow==8.2.0
protobuf==3.15.8
PyYAML==5.4.1
scikit-learn==0.21.0
scipy==1.5.4
six==1.15.0
sklearn==0.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
wincertstore==0.2
zipp==3.4.1
